.event-summary {
    padding: rhythm(.25, 16px) 0 rhythm(.25, 16px) $grid-padding/2;
    margin-bottom: rhythm(1, 16px);
}
.event-description {
    margin-bottom: rhythm(1, 16px);
}
.vevent {
    margin-bottom: rhythm(1, 16px);
    &:last-of-type {
        margin-bottom: 0;
    }
}