.tribe-events-ajax-loading {
    display: none;
}
.tribe-events-first {
    margin-top: rhythm(1, 16px);
}
.tribe-events-notices {
    padding: rhythm(1, 16px) 0;
    margin-bottom: rhythm(1, 16px);
}
.tribe-events-single-section-title {
    margin-bottom: rhythm(1, 16px);
}
.tribe-events-list-separator-month {
    // padding-right: $grid-padding*4;
    @include span-columns (18, 18);
}