.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: rhythm(.25, 16px);
    padding-bottom: rhythm(.25, 16px);
    @include pad(1,1);
    z-index: 100;
    @include at-breakpoint($break-to-medium-large) {
        height: rhythm(4, 16px);
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.fixed .header {
    @extend .header;
    @include at-breakpoint($break-to-medium-large) {
        position: fixed;
    }
}
.mobile-back-button {
    @include span-columns(2, 12);
    &:before {
        padding: 0 0 0 $grid-padding/4;
    }
    @include at-breakpoint($break-to-medium) {
        @include span-columns(1,16);
    }
    @include at-breakpoint($break-to-medium-large) {
        display: none;
    }
}
.mobile-menu-button {
    @include span-columns(2 omega, 12);
    &:before {
        padding: 0 0 0 $grid-padding/4;
    }
    @include at-breakpoint($break-to-medium) {
        @include span-columns(1 omega,16);
    }
    @include at-breakpoint($break-to-medium-large) {
        display: none;
    }
}
.title-small {
    @include span-columns(8, 12);
    @include at-breakpoint($break-to-medium) {
        @include span-columns(14, 16);
    }
    @include at-breakpoint($break-to-medium-large) {
        display: none;
    }
}
.title-large {
    display: none;
    @include at-breakpoint($break-to-medium-large) {
        display: inline-block;
        padding: rhythm(.45, 16px) 0 0 0;
    }
}