.home-page-item {
    @extend %home-item-layout;
}
.home-page-link{
    @extend %home-item-layout;
}
.home-sub-header {
    margin-bottom: rhythm(1, 16px);
}
.home-button {
    padding: rhythm(.25, 16px) $grid-padding/2;
}
.about {
    padding: $grid-padding;
    margin-bottom: rhythm(1, 16px);
}