.nav {
    position: fixed;
    top: rhythm(2.05, 16px);
    height: 100%;
    @include span-columns(6, 12);
    @include translate3d(-100%, 0, 0);
    @include at-breakpoint($break-to-medium-large) {
        position: relative;
        @include translate3d(0, 0, 0);
        @include span-columns(24, 24);
        @include pad(0,1);
        margin-top: rhythm(-4.7, 16px);
        z-index: 150;
    }
    @include at-breakpoint($break-to-large) {
        @include span-columns(24, 24);
        @include pad(0,4);
    }
}
.fixed .nav {
    // @extend .nav;
    @include at-breakpoint($break-to-medium-large) {
        position: fixed;
        @include translate3d(0, 0, 0);
        @include span-columns(24, 24);
        @include pad(0,1);
        margin-top: rhythm(-1, 16px);
        z-index: 150;
    }
    @include at-breakpoint($break-to-large) {
        @include span-columns(24, 24);
        @include pad(0,4);
    }
}

.menu-item {
    display: block;
    width: 100%;
    padding: rhythm(.5, 16px) 0 rhythm(.5, 16px) $grid-padding;
    @include at-breakpoint($break-to-medium-large) {
        @include span-columns(3 omega, 24);
        padding: rhythm(.25, 16px) 0;
    }
    @include at-breakpoint($break-to-large) {
        @include span-columns(2 omega, 24);
    }
}

//AngularJS Mobile Behavior/Animation for Fly-in Menu
.navmove-add, .navmove-remove {
    @include transition(all 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940));
}
.navmove, .navmove-add.navmove-add-active {
  @include translate3d(0, 0, 0);
}
.navmove-remove.navmove-remove-active {
  @include translate3d(-100%, 0, 0);
}