.inner-sidebar {
    @extend %inner-content-design;
}
.inner-page-link {
    color: $black;
    @include transition(text-shadow 0.3s ease-in);
    &:hover {
        text-shadow: 0 0 .07em rgba($black, .5);
    }
}
article {
    @extend %inner-content-design;
    h2 {
        @include adjust-font-size-to(24px);
        color: darken($green-mute, 10%);
        font-weight: bold;
    }
}

.leaders {
    text-align: center;
}

.results-splash-item {
    text-align: center;
     @include at-breakpoint($break-to-medium-large) {
        text-align: left;
     }
    .results-icon {
        font-size: 5em;
         @include at-breakpoint($break-to-medium-large) {
            font-size: 8em;
         }
    }
    &:nth-child(even) {
         @include at-breakpoint($break-to-medium-large) {
            text-align: right;
         }
     }
     .event {
        &:hover {
            text-decoration: underline;
        }
     }

}