a {
    text-decoration: none;
    color: $green-mute;
    &:active {
        text-decoration: underline;
    }
    @include at-breakpoint($break-to-medium-large) {
        &:hover {
            text-decoration: underline;
        }
    }
}