.home-page-link {
    @extend %home-item-design;
    background: rgba($white, 1);
    @include transition(border 0.3s ease-in, box-shadow 0.3s ease-in, background 0.3s ease-in);
    &:active {
        background: rgba($white, 1);
        border: .1em solid rgba($green-mute, 1);
        @include box-shadow(0px 0px 7px 3px rgba($green-mute, .85));
    }
    -webkit-tap-highlight-color:  rgba($white, 1);
    @include at-breakpoint($break-to-medium-large) {
        background: rgba($white, .9);
        &:hover {
            background: rgba($white, 1);
            border: .1em solid rgba($green-mute, 1);
            @include box-shadow(0px 0px 7px 3px rgba($green-mute, .85));
        }
    }
}
.about {
    @extend %home-item-design;
    @include adjust-font-size-to(16px);
    text-align: justify;
    background: rgba($white, 1);
    color: $black-lite;
    @include at-breakpoint($break-to-medium-large) {
        background: rgba($white, .9);
        text-align: left;
    }
    a {
        color: $green-mute;
        &:hover {
            text-decoration: underline;
        }
    }
}

.promo {
    color: $black-lite;
}

.results-icon{
    @include icon('before', true, 'results');
    &:before {
        color: $green-mute;
    }
}
.news-icon {
    @include icon('before', true, 'news');
    &:before {
        color: $green-mute;
    }
}
.maps-icon {
    @include icon('before', true, 'maps');
    &:before {
        color: $green-mute;
    }
}
.about-icon {
    @include icon('before', true, 'about');
    &:before {
        color: $green-mute;
    }
}
.businesses-icon {
    @include icon('before', true, 'businesses');
    &:before {
        color: $green-mute;
    }
}
.videos-icon {
    @include icon('before', true, 'videos');
    &:before {
        color: $green-mute;
    }
}
.form-icon {
    @include icon('before', true, 'form');
    &:before {
        color: $green-mute;
    }
}
.people-icon {
    @include icon('before', true, 'people');
    &:before {
        color: $green-mute;
    }
}