html {
    @extend %responsive-trigger;
}
.bg-small {
    background: url('images/bg-mobile.jpg') no-repeat fixed center top;
    background-size: 100% 100%;
}
.bg-medium {
    @extend .bg-small;
}
.bg-small-desktop {
    background: url('images/bg-desktop.jpg') no-repeat fixed center top;
    background-size: 100% 100%;
}
.bg-large-desktop {
    @extend .bg-small-desktop
}