html {
    @extend %responsive-trigger;
    background-color: $white;
}
.bg-small {
    background-color: darken($white, 10%);
    // @include background-image(linear-gradient(rgba($black, .7), rgba($black, .7) 5%, rgba($black, .2) 15%, $white));
}
.bg-medium {
    @extend .bg-small;
}
.bg-small-desktop {
    background: url('images/bg-desktop.jpg') no-repeat fixed center top;
    background-size: cover;
}
.bg-large-desktop {
    @extend .bg-small-desktop
}