.mobile-map-button {
    @extend %submit-button-design;
    text-align: center;
    padding: rhythm(.25, 16px) 0;
    &:active {
        @include background-image(linear-gradient(darken(rgba($green-mute, .4), 20%), darken(rgba($green-dark, .4), 20%)));
    }
    @include at-breakpoint($break-to-medium-large) {
        display: none;
     }
}
.mobile-map-close {
    color: $yellow;
    text-align: center;
    background-color: rgba(darken($green-mute, 7%), .98);
    &:active {
        background-color: rgba(darken($green-mute, 17%), .98);
        -webkit-tap-highlight-color: rgba(darken($green-mute, 17%), .98);
    }
}
.meetingmap {
    border: solid .1em $green-mute;
}