$green-primary: rgb(0,167,103);
$green-dark: rgb(0, 109, 68);
$green-mute: rgb(92, 164, 41);

$blue: rgb(4, 57, 104);

$red: rgb(161, 50, 0);

$yellow: rgb(237, 231, 92);

$black: rgb(98, 98, 98);
$black-lite: rgb(130, 130, 130);

$white: lighten($black, 65%);