// Courtesy: http://jaydenseric.com/blog/fun-with-sass-and-font-icons
$icons: (
    'menu' '\e600',
    'back' '\e601',
    'facebook' '\e602',
    'home' '\e603',
    'results' '\e604',
    'videos' '\e605',
    'people' '\e606',
    'maps' '\e607',
    'photos' '\e608',
    'businesses' '\e609',
    'search' '\e610',
    'arrowdown' '\e611',
    'mail' '\e612',
    'about' '\e613',
    'arrowup' '\e614',
    'news' '\e60a',
    'form' '\e60b',
    'phone' '\e60c',
    'link' '\e60d',
    'shopping' '\e60e',
    'twitter' '\e60f'
);
@function match($haystack, $needle) {
    @each $item in $haystack {
        $index: index($item, $needle);
        @if $index {
            $return: if($index == 1, 2, $index);
            @return nth($item, $return);
        }
    }
    @return false;
}
@mixin icon($position: 'before', $styles: true, $icon: false) {
    // Either a :before or :after pseudo-element, defaulting to :before
    &:#{$position} {
        @if $icon {
            // Icon has been specified
            content: match($icons, $icon);
        }
        @if $styles {
            // Supportive icon styles have been specified
            color: desaturate($yellow, 25%);
            font: {
                style: normal;
                variant: normal;
                weight: normal;
                family: $vftr;
            }
            // @include adjust-font-size-to(14px);
            padding-right: $grid-padding/2;
            // @include adjust-font-size-to(25px);
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-transform: none;
            speak: none;
        }
        // Include any extra rules supplied for the pseudo-element
        @content;
    }
}

@mixin input-placeholder-focus($focus-color) {
  &.placeholder {
    color: $focus-color;
    }
    &::-moz-placeholder {
      opacity: 0;
      color: $focus-color;
  }
    &::-webkit-input-placeholder {
      color: $focus-color;
  }
}

/**
 * Carbon Fiber background pattern
 *
 * @author Lea Verou http://lea.verou.me/ for the original pattern
 * @author David Kaneda http://www.davidkaneda.com/ for the Sass mixin
 *
 * @link http://lea.verou.me/css3patterns/
 *
 */

$background-carbon-fiber-base-color: #2F561C !default;

@mixin background-carbon-fiber(
    $background-color: $background-carbon-fiber-base-color,
    $dot-color: scale-lightness($background-color, -30),
    $highlight-color: rgba(#fff, .3),
    $spacing-size: 16px,
    $dot-size: 2px
) {
    @include background-image(
        radial-gradient($dot-color $dot-size, rgba(darken($dot-color, 5), 0) $dot-size + 1),
        radial-gradient($dot-color $dot-size, rgba(darken($dot-color, 5), 0) $dot-size + 1),
        radial-gradient($highlight-color $dot-size, rgba(#fff, 0) $dot-size + 1px),
        radial-gradient($highlight-color $dot-size, rgba(#fff, 0) $dot-size + 1px)
    );

    background-repeat: repeat;
    background-position: 0 0, $spacing-size/2 $spacing-size/2, 0 1px, $spacing-size/2 $spacing-size/2 + 1px;
    background-color: $background-color;
    background-size: $spacing-size $spacing-size;
}